body {
    font-family: Arial, Helvetica, sans-serif;
    background: ghostwhite;
}   
h1
h2 {
    font-style: italic;
}
#p1 {
    color:aqua;
}
.p2 {
    color:blueviolet;
}
.tampil {
    font-weight:bold;
}
ul li a {
    color:blue;
}
ol li a {
    color:darkgreen;
}